* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.conteiner {
    max-width: 1280px;
    /* min-height: 1000px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,300px);
}
.item:nth-child(2){
    background-image: url(../img/item2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 2 / span 2;
    display: flex;
    align-items: flex-end;
   padding: 40px;
}
.logo {
    color:#fff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}
.item:nth-child(6){
    grid-column: 1/span 2;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}
.header {
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.text {
    font-size: 0.9em;
    color:#7c7c7c;
    line-height: 1.3;
}
.item i {
    font-size: 2.7em;
    margin-bottom: 15px;
}
.item:nth-child(7){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}